.env
.env.*
!.env.example

pgdata/
postgres_data/

/dist/
/bin/
apiOrganizationStructure
*.exe
*.exe~
*.dll
*.so
*.dylib

*.log

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

.DS_Store
Thumbs.db